@import '../../../variables.scss';
@import '../../../globals.scss';

text {
    fill: white;
    a {
        fill: $link-color;
    }
    a:visited {
        fill: $link-color;
    }
}

.axis-label {
    color: #fff;
}

rect {
    fill: $bar-chart-bar-colour;
}



// svg#time-bar-chart {
//     // viewb 0 0 1400 600;
//     display: block;
//     max-width: 1400px;
//     max-height: 600px;
//     height: 100%;
//     width: 100%;
//     // transform: scale(0.75);
// }