@import '../../../variables.scss';
@import '../../../globals.scss';

text {
    fill: white;
    a {
        fill: $link-color;
    }
    a:visited {
        fill: $link-color;
    }
}

.axis-label {
    color: #fff;
}

rect {
    fill: $bar-chart-bar-colour;
}
