@import '../../variables';

#table {
    color: $text-stat-color;
}

th {
    color: $main-text-color;
}

table > thead > tr:nth-child(1) > th {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 50px;
}

tr {
    text-align: left;
}

