@import './variables.scss';

body {
  color: white;
}

text {
  fill: white;
}

a, a:visited {
  color: $link-color;
}

a {
  color: $link-color;
  &:visited {
    color: $link-color;
  }
}

@import 'variables.scss';

.App {
  width: 100%;
  max-width: 1900px;
  margin: 0px auto;
}

.container {
  display: flex;
  align-items: stretch;
  flex: 0 0 100%;
  width: 100%;
  max-width: 1500px;
  height: 100%;
  min-height: 100vh;
  margin: 0px auto;
}

.dashboard {
  width: 100%;
  padding: 20px;
  background-color: #231B1B;
  box-sizing: border-box;
}