$main-background-color: #231B1B;
$text-stat-color: #FFD2FC;
$link-color: #DDFFF7;
$visited-link-color: #DDFFF7;
$main-text-color: white;
$bar-chart-bar-colour: #FFD2FC;
// #DDFFF7
// #FFD2FC
// #E980FC
// #B96AC9
// #231B1B
// #F6BD60
// #EF3E36